.container {
    margin-bottom: 20px;
}

.linkContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.linkContainer div {
    display: flex;
    flex-direction: column;
}

.linkContainer div .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.referencesTitle {
    font-weight: bold;
}

.referencesContainer .iconContainer {
    margin-bottom: 10px;
}