.adoptionContainer {
    border-top: 1px solid var(--ifm-color-gray-300);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

html[data-theme="dark"] .adoptionContainer {
    border-top: 1px solid var(--ifm-color-gray-700);
}

.authors {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.title {
    margin: 10px 0px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 30px;
    color: var(--ifm-color-primary);
}

.description {
    font-style: italic;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttonContainer div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 340px;
    margin-top: 20px;
}

.secondaryButtons a span {
    margin-right: 5px;
}

.buttonMobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .authors {
        font-size: 1.0rem;
    }

    .date {
        font-size: 1.0rem;
    }

    .title {
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 450px) {
    .buttonDesktop {
        display: none;
    }

    .buttonMobile {
        display: block;
    }

    .pageTitle {
        font-size: 1.5rem;
    }

    .pageIntro {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .buttonContainer div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .authors {
        font-size: 1.0rem;
    }

    .date {
        font-size: 1.0rem;
    }

    .title {
        font-size: 1.2rem;
    }
}